<!-- Employee Profile -->
<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <title>All employers page</title>

  <!-- SCROLLS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
   load bootstrap -->
  <style>
    html                    { overflow-y:scroll; }
    
  </style>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script><!-- load angular -->
  <!--<script src ="js/core.js"></script> -->
</head>
  <body>
    <!-- The search bar -->
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
              </div>
            </form>
          </div>
      </div>
  </div>

  <form class="form-horizontal" role="form">

    <!-- Name -->
    <div class="form-group">
      <label class="control-label col-sm-1 pull-left" for="name" align ="left">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Enter your name">
      </div>
    </div>

    <!-- Email id -->
    <div class="form-group">
      <label class="control-label col-sm-1" for="email">Email:</label>
      <div class="col-sm-10"> 
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-1" for="Gender">Gender:</label>
      <div class="checkbox">
        <label class ="col-sm-offset-1 checkbox-inline"><input type="checkbox" value="">Male</label>
        <label class ="col-sm-offset-1"><input type="checkbox" value="">Female </label>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-1 text-align=left" for="sel1">Age:</label>
      <div class="col-sm-10"> 
        <select class="form-control" id="sel1">
          <option>10-20</option>
          <option>20-30</option>
          <option>30-40</option>
          <option>40-50</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-1 pull-left" for="avail" align ="left">Availability:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="avail" placeholder="Your availability">
      </div>
    </div>

    <!-- Skill set - Useful for the employer as they might look for employees based on skill set and past experience -->
    <div class = "form-group">
      <label for="skill set"><span style = "padding-left: 40px">Top-Skills:</span></label><p>
      <div class="col-sm-offset-1 col-sm-10"> 
        <textarea class="form-control" rows="5" id="skills"></textarea>
      </div>
    </div>

    <div class = "form-group">
      <label for="Past Experiences"><span style = "padding-left: 30%">Experience: </span></label><p>
      <div class="col-sm-offset-1 col-sm-10"> 
        <textarea class="form-control" rows="5" id="pastexp"></textarea>
      </div>
    </div>

    <div class="form-group"> 
      <div class="col-sm-offset-1 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</body>
</html>