#footer {
	width: 100%;
	display: block;
	background-color: black;
	color: white;
	position: absolute;
}
.video{
	background-color:#fff;background-size:100% 
	auto;background-repeat:no-repeat;/*padding-top:42.578125%;*/
	position:absolute;
	min-height: 100%;
	min-width: 100%;
}

.container .txt{color: white;}
.container .btn{background:#ff6319;background:rgba(255,99,25,0.6);color:#fff;display:block;font-size:1.125rem;line-height:40px;margin:0;text-align:center;width:180px;-webkit-border-radius:5px;border-radius:5px;background-clip:padding-box}
.container .btn:hover{background:#ff6319;text-decoration:none}

.container{	height:100%;left:0;	margin:auto;right:0;position:absolute; top:40%;z-index:10}

.navbar-brand #logo1{
	max-width: 10%;
	max-height: 130%;
	display: inline-block;
}

.navbar-brand #logo2{
	max-width: 40%;
	display: inline-block;
}

/*For the Shopify API*/
.product {
  max-width: 30%;
  box-shadow: 0 0 15px 5px #eee;
  padding: 30px;
  /*max-height: 20%;*/
  margin-right: 10px;
  display: inline-block;
}

.product__buy {
  background: #7ab55c;
  padding: 0.5625em 1.875em;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
}

.product__buy:hover {
  text-decoration: none;
  background: #6aa74c;
}
.product__image {
	height: 100%;
	width: 100%;
}

#product-2 {
	padding-top: 8.5%;
}
#product-3 { 
	padding-top: 11%;
}

hr {
	border-style: solid;
	border-width: 3px;
}

p {
	margin-bottom: 0px;
}

.slider{
	padding-top: 5%;
	position: absolute;
	/*background-color: green*/;
}
.mySlides { 
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	max-height: 40%;
	background-color: black;
	margin-right: 0%;
	
}